.dreamkam{
    padding: 120px 0 234px;
    position: relative;
}
.dreamkam__title{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #121212;
}

.dreamkam__text{
    font-family: 'Lato',sans-serif;
    line-height: 24px;
    color: #313131;
    opacity: 0.8;
    margin: 59px 0 79px;
}
.dreamkam__card{
    display: flex;
    column-gap: 96px;
}
.img__name{
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 24px;
}
.img__link{
    color: var(--orange);
}
.card__img{
    width: calc(33% - 64px);
}